.moviesCardList {
  display: flex;
  flex-direction: column;
  min-height: 341px;
  
  
  align-items: center;
}

.moviesCardList__info {
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  
}

.moviesCardList__container {
  display: grid;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  justify-content: space-between;
  grid-template-columns: repeat(3, 1fr);
  justify-items: stretch;
  row-gap: 30px;
  column-gap: 24px;
}


@media screen and (max-width: 769px) {
  .moviesCardList__container {
    grid-template-columns: repeat(2, 1fr);
    max-width: fit-content;
    
  }
}

@media screen and (max-width: 560px) {
  .moviesCardList__container {
    grid-template-columns: repeat(1, 1fr);
    max-width: fit-content;
  }
}