.tech {
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1280px;
    min-height: 608px;
    padding-left: 70px;
    padding-right: 70px;
    background-color: #F5F5F5;
}

.tech__title {
    display: flex;
    font-weight: 400;
    align-self: flex-start;
    margin-bottom: 23px;
}

.tech__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid black;
    width: 100%;
}

.tech__subtitle {
    font-size: 50px;
    line-height: 58px;
    letter-spacing: -0.04em;
    font-weight: 400;
    margin: auto;
    padding-top: 90px;


}

.tech__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin: auto;
    padding-top: 26px;
    letter-spacing: -0.04em;
    max-width: 460px;
    min-height: 40px;
}

.table {
    display: grid;
    grid-template-columns: repeat(7, 90px);
    grid-template-rows: repeat(1, 60px);
    column-gap: 10px;
    row-gap: 10px;
    padding-top: 100px;
}

.table__cell {
    display: flex;
    background-color: #E8E8E8;
    border-radius: 10px;
}

.table__cell-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.04em;
    margin: auto;
}

@media screen and (max-width: 900px) {
    .table {
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(1, 57px);
        width: 100%;
    }

}

@media screen and (max-width: 769px) {
    .tech {
        min-height: 567px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .tech__subtitle {
        padding-top: 80px;
    }

    .tech__text {
        font-size: 12px;
        line-height: 18px;
        padding-top: 22px;
    }

    .table {
        padding-top: 83px;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(1, 57px);
        
    }

    .table__cell {
        
    }
}

@media screen and (max-width: 700px) {
    .table {
        grid-template-columns: repeat(4, 84px);
        grid-template-rows: repeat(2, 57px);
        justify-content: center;
    }

}


@media screen and (max-width: 460px) {
    .tech {
        justify-content: flex-start;
        padding-left: 18px;
        padding-right: 18px;
        padding-top: 36px;
        padding-bottom: 13px;
    }

    .tech__title {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 28px;
    }

    .tech__subtitle {
        font-size: 30px;
        line-height: 36px;
        padding-top: 60px;
    }

    .tech__text {
        font-size: 11px;
        line-height: 16px;
        padding-top: 24px;
    }

    .table {
        padding-top: 42px;
        grid-template-columns: repeat(2, 84px);
        grid-template-rows: repeat(4, 57px);
    }
}