.footer__link {
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000;
    text-decoration: none;
    padding: 0;
    margin-left: 16px;
    cursor: pointer;
    list-style-type: none;
}

.footer__link:hover {
    opacity: 0.8;
}